{{#each products}}
<ul>
    <li>{{this.id}}</li>
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.price}}</li>
    <li>{{this.status}}</li>
    <li>{{this.code}}</li>
    <li>{{this.stock}}</li>
</ul>
{{/each}}